a:hover
{
  color: black;
}

/* Navigation*/
.navbar {
  background-color: transparent;
}

.scrolling-navbar {
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
  background-color: #222224;
}
.navbar-brand>img 
  {
    height: 3em;
  }
footer.page-footer {
  background-color: #222224;
}

@media only screen and (max-width: 992px) {
  .navbar {
      background-color: #222224;
  }
  .navbar .dropdown-menu a
  {
    padding: 0.25em;
  }
  body {
    font-size: 14px;
    padding-top: 4em;
  }
.navbar-brand>img 
  {
    height: 2em;
  }
  
}

/* Necessary for full page carousel*/
html,
body,
.view {
  height: 100%;
}

 
/* Carousel*/
.carousel,
.carousel-item,
.carousel-item.active {
  height: 100%;
}
.jumbotron
{
  block-size: 100px;
}

.carousel-inner {
  height: 100%;
}

.carousel .carousel-control-prev-icon {
  background-image: url("../images/svg/arrow_left.svg");
  height: 5em;
  width: 5em;
}

.carousel .carousel-control-next-icon {
  background-image: url("../images/svg/arrow_right.svg");
  height: 5em;
  width: 5em;
}


.carousel-item:nth-child(1) {
  background-image: url("../images/pexels-photo-1121123 (1).jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(2) {
  background-image: url("../images/pexels-photo-698323.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(3) {
  background-image: url("../images/old-retro-antique-vintage-163182.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

.carousel-item:nth-child(4) {
  background-image: url("../images/wood-coffee-iphone-notebook.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(5) {
  background-image: url("../images/architectural-design-architecture-blue-302831.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


