html,
body,
.view {
  height: 100%;
}

/*Карусель*/
.carousel,
.carousel-item,
.carousel-item.active 
{
  height: 100%;
}
.carousel-inner {
  height: 100%;
}
.carousel .carousel-control-prev-icon {
  background-image: url("../images/svg/arrow_left.svg");
  height: 5em;
  width: 5em;
}
.carousel .carousel-control-next-icon {
  background-image: url("../images/svg/arrow_right.svg");
  height: 5em;
  width: 5em;
}
.carousel-item:nth-child(1) {
  background-image: url("../images/pexels-photo-1121123 (1).jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.carousel-item:nth-child(2) {
  background-image: url("../images/pexels-photo-698323.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.carousel-item:nth-child(3) {
  background-image: url("../images/old-retro-antique-vintage-163182.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}
.carousel-item:nth-child(4) {
  background-image: url("../images/wood-coffee-iphone-notebook.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.carousel-item:nth-child(5) {
  background-image: url("../images/architectural-design-architecture-blue-302831.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
a:hover
{
  color: black;
}


